@font-face {
  font-family: 'Black Ops One';
  src: url('./assets/fonts/BlackOpsOne-Regular.ttf');
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/fonts/Quantico-Regular.ttf');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  font-family: "Quantico";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141619;
  padding: .5rem 0;
}

.header h1 {
  font-family: "Black Ops One";
  font-size: 2.5rem;
  color: #FFF;
  letter-spacing: .3rem;
}

.main {
  background: #4A7B9D;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#form-container {
  background: #FFF;
  padding: 1rem 1.5rem;
  border-radius: 1.25rem;
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
}

#form-container.fade {
  opacity: 0;
}

#form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#name {
  font-size: 1.1875rem;
  font-family: "Quantico";
  border: none;
  border-bottom: 2px solid #141619;
  max-width: 200px;
}

#name:focus {
  outline: none;
}

#start-btn {
  margin-top: 1rem;
  padding: .33rem 1rem;
  border: 1px solid #141619;
  font-size: 1.1875rem;
  font-family: 'Quantico';
  cursor: pointer;
  border-radius: 100px;
  background: #F7CB15;
  color: #141619;
  font-weight: bold;
}

#start-btn:focus,
#start-btn:hover {
  opacity: .65;
}

.text-container {
  background: #FFF;
  padding: .5rem 1rem;
  border-radius: 1.25rem;
  border: 2px solid #141619;
  max-width: 275px;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.board-container h2 {
  color: #FFF;
  text-align: center;
  font-family: "Black Ops One";
  text-shadow: 2px 3px 2px rgba(0,0,0, 0.5);
  letter-spacing: .3rem;
}

.board {
  border: 1px solid #141619;
  background: #141619;
}

.row {
  display: flex;
  gap: .25rem;
  margin: .2rem;
}

.cell {
  width: 22.5px;
  height: 22.5px;
  border: 1px solid #141619;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

#computer-board .cell {
  cursor: crosshair;
}

.ship {
  background: #7A7D7D;
}

.footer {
  display: none;
  background: #141619;
  padding: .5rem 0;
}

.footer a {
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
}

.footer a:hover {
  animation: rotate 300ms linear;
}

@media (min-width: 700px) {
  .board-container {
    flex-direction: row;
  }

  .footer {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    width: 27.5px;
    height: 27.5px;
    font-size: 2.15rem;
  }
}

@media (min-width: 1000px) {
  .cell {
    width: 30px;
    height: 30px;
    font-size: 2.35rem;
  }
}

@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
